* {
  box-sizing: border-box;
}

body {
  background-color: #2c2c2c;
  border: 2px solid #00ff22;
  border-radius: 20pt;
  width: 90%;
  margin: 2%;
  padding: 2%;
  text-align: left;
  font-family: American Typewriter, serif;
  color: #00ff22;
}

.index {
    width: 90%;
}

h1 {
  font-size: 35px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: left;
}

h3 {
  font-size: 17px;
  text-align: left;
}

p {
  font-size: 15px;
  text-align: center;
}

header {
  background-color: #1b2218;
  border: 2px solid #00ff22;
  border-radius: 20pt;
  margin: 1%;
  padding: 1%;
  text-align: center;
}

nav {
  float: left;
  padding: 1%;
}

nav ul {
  background-color: #00ff22;
  border: 1px hidden #00ff22;
  border-radius: 7pt;
  list-style-type: none;
  width: 110px;
  margin: 1%;
  padding: 3%;
  color: #1b2218;
}

li.nav_bar_li a {
  text-decoration: none;
}

li.nav_bar_li a:hover {
  color: #00a8be;
}

article {
  background-color: #1b2218;
  border: 2px solid #00ff22;
  border-radius: 20pt;
  float: left;
  margin: 1%;
  padding: 1%;
  text-align: center;
  width: 40%;
}

article h2 {
  text-align: center;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer p {
  background-color: #1b2218;
  border: 2px solid #00ff22;
  border-radius: 20pt;
  margin: 1%;
  padding: 1%;
  text-align: center;
  color: #00ff22;
}

/* unvisited link */
a:link {
  color: #3f3529;
  font-family: Georgia, serif;
}

/* visited link */
a:visited {
  color: #79511d;
}

/* mouse over link */
a:hover {
  color: #ffd900;
  text-decoration: underline;
  font-weight: bold;
}

/* selected link */
a:active {
  color: #ffd900;
  text-decoration: underline;
  font-weight: bold;
}